.signin__label-email {
  margin: 0 0 9px 36px;
  color: rgba(47, 113, 229, 1);
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.signin__label-password {
  margin: 0 0 8px 36px;
  color: rgba(47, 113, 229, 1);
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.signin__input-email {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 36px 31px 36px;
  padding: 0 0 10px 0;
  background-color: transparent;
  background-clip: text;
}

.signin__input-password {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 36px 39px 36px;
  background-color: transparent;
  background-clip: text;
  padding: 0 0 10px 0;
}

.signin__input-signup {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 36px 31px 36px;
  background-color: transparent;
  background-clip: text;
  padding: 0 0 10px 0;
}

.signin__modal-button {
  background: #2f71e5;
  width: 360px;
  height: 64px;
  margin: 0 35px 16px 36px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.signin__input-email::placeholder {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #fff;
}

.signin__input-password::placeholder {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #fff;
}

.signin__options {
  display: flex;
  flex-direction: column;
}
