.savedcard {
  position: relative;
  max-width: 400px;
  height: 576px;
  background-color: #fff;
  border-radius: 16px;
  margin: 0 10px 16px 0;
  overflow: hidden;
  box-shadow: rgba(8, 29, 45, 0.1);
}

.savedcard:nth-of-type(4n) {
  margin: 0 10px 0 0;
}

.savedcard:nth-of-type(5n) {
  margin: 0 10px 0 0;
}

.savedcard__content {
  margin: 0 24px 24px 24px;
}

.savedcard-img {
  width: 400px;
  height: 272px;
}

.savedcard__date {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
  margin: 17px 0 15px 0;
}

.savedcard__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
  margin: 0 0 16px 0;
}

.savedcard__paragraph {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.savedcard__topic {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
  text-transform: uppercase;
  margin: 18px 0 24px 0;
}

.savedcard__trash-btn {
  position: absolute;
  top: 20px;
  right: 17px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-image: url('../../images/trash.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.savedcard__topic-mark {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  top: 20px;
  left: 23px;
  /* padding: 8px 22px 8px 22px; */
  min-width: 80px;
  height: 40px;
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  box-sizing: content-box;
}

.savedcard__remove-text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.savedcard__topic-text {
  max-width: 100%;
  padding: 8px 22px 8px 22px;
  margin: 0;
  box-sizing: content-box;
}

.savedcard__topic-remove {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  top: 20px;
  left: 148px;
  width: 187px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility ease-in 0.2s;
  height: 40px;
  border: none;
}

.savedcard__trash-btn:hover + .savedcard__topic-remove {
  opacity: 1;
  visibility: visible;
}

.savedcard__trash-btn:hover {
  transition: 0.2s ease-in-out;
  background-image: url('../../images/Union\ \(3\).svg');
}

@media screen and (max-width: 820px) {
  .savedcard {
    max-width: 224px;
    max-height: 420px;
    margin: 0 8px 8px 0;
  }

  .savedcard-img {
    width: 224px;
    height: 150px;
  }

  .savedcard__title {
    font-size: 22px;
    margin-bottom: 10px;
    width: 192px;
  }

  .savedcard__paragraph {
    width: 192px;
    height: 88px;
    overflow-y: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
  }

  .savedcard__topic {
    margin: 12px 0 16px 0;
    text-overflow: ellipsis;
    width: 192px;
    height: 20px;
  }

  .savedcard__date {
    margin: 16px 0 12px 0;
  }

  .savedcard__trash-btn:hover + .savedcard__topic-remove {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 520px) {
  .savedcard {
    max-width: 288px;
    margin: 10px 0 11px 0;
  }

  .savedcard-img {
    width: 288px;
  }

  .savedcard__title {
    width: 256px;
  }

  .savedcard:nth-of-type(4n) {
    margin: 0 0 11px 0;
  }

  .savedcard:nth-of-type(5n) {
    margin: 0 0 11px 0;
  }

  .savedcard__trash-btn:hover + .savedcard__topic-remove {
    opacity: 0;
    visibility: hidden;
  }
}
