.saved-news__header {
  background-color: #fff;
  box-sizing: content-box;
  margin-bottom: 62px;
}

.saved-news__tab-title {
  margin: 40px 0 28px 104px;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news__title {
  font-family: 'Roboto Slab';
  font-size: 40px;
  font-weight: 400;
  max-width: 530px;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 0 30px 104px;
}

.saved-news__key {
  display: inline-flex;
  align-items: center;
  margin: 0 0 56px 104px;
}

.keywords__title {
  margin: 0;
  margin-right: 5px;
}

.saved-news__keywords {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
