.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  background-repeat: no-repeat;
}

@media screen and (max-width: 820px) {
  .app {
    background: url('../../images/tablet.jpg');
    background-size: 100% 500px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 520px) {
  .app {
    background: url('../../images/320background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
