.savednews {
  background-color: #f5f6f7;
}

.saved-news__content {
  display: flex;
  margin: 0 0 62px 104px;
  flex-wrap: wrap;
  min-height: 100vh;
}

@media screen and (max-width: 820px) {
  .saved-news__content {
    display: flex;
    margin: 0 40px 32px 40px;
    width: calc(100% - 72px);
    box-sizing: content-box;
  }
}

@media screen and (max-width: 500px) {
  .saved-news__content {
    justify-content: center;
    margin: 0 16px 12px 16px;
    width: calc(100% - 30px);
  }
}
