.about {
  display: flex;
  background-color: #fff;
}

.about-author__photo {
  margin: 80px 56px 80px 104px;
  border-radius: 1000px;
  max-width: 464px;
  max-height: 464px;
}

.about__author-text {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
}

.about__text {
  font-family: 'Roboto Slab';
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
  color: black;
  margin: 0 0 24px 0;
}

.about__article {
  max-width: 600px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (max-width: 820px) {
  .about {
    min-height: 48vh;
  }

  .about-author__photo {
    margin: 61px 32px 61px 40px;
    width: 232px;
    height: 232px;
  }

  .about__author-text {
    margin-top: 40px;
  }

  .about__text {
    font-size: 30px;
    margin: 0 0 16px 0;
  }

  .about__article {
    margin: 0 40px 10px 0;
  }
}

@media screen and (max-width: 520px) {
  .about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .about-author__photo {
    margin: 32px 24px 24px 24px;
  }

  .about__author-text {
    margin: 0 16px 128px 16px;
  }

  .about__article {
    margin: 0 0 20px 0;
  }
}
