.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
}

.preloader__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(182, 188, 191, 1);
  margin: 0 0 80px 0;
}

.circle-preloader {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid
    conic-gradient(
      from 180deg at 50% 50%,
      #1a1b22 0deg,
      rgba(209, 210, 214, 0) 360deg
    );
  border: 1px solid;
  border-bottom-color: #888;
  background-color: #f5f6f7;
  border-radius: 50%;
  bottom: 0;
  margin: 80px 0 24px 0;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
