.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  max-height: 80px;
}

.header__switch {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(209, 210, 214, 1);
  align-items: center;
  background-color: #fff;
  max-height: 80px;
}

.header__nav-logged {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 0 0 104px;
  font-family: 'Roboto Slab';
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
}

.header__logo-switch {
  margin: 0 0 0 104px;
  font-family: 'Roboto Slab';
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
}

a {
  display: contents;
  text-decoration: none;
}

.header__nav-link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 16px;
  margin: 30px 0 26px 0;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid white;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 42px;
  cursor: pointer;
}

.header__nav-home {
  float: left;
  display: block;
  text-align: center;
  padding: 26px 16px;
  margin: 30px 0 26px 0;
  text-decoration: none;
  font-size: 17px;
  color: black;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 42px;
  cursor: pointer;
}

.header__nav-articles {
  float: left;
  display: block;
  color: black;
  padding: 26px 16px;
  font-family: 'Roboto';
  border: none;
  border-bottom: 3px solid black;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin: 30px 64px 26px 0;
  cursor: pointer;
  background: transparent;
}

.header__nav-article {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin: 30px 64px 26px 0;
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgba(182, 188, 191, 1);
}

.header__nav-button {
  margin-right: 104px;
  background-color: transparent;
  border: 1px solid #ffff;
  border-radius: 100px;
  padding: 11px 12px 11px 12px;
  color: #fff;
  width: 176px;
  height: 48px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.header__nav-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 104px 13px 0;
  width: 112px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #ffff;
  border-radius: 100px;
  padding: 12px 19px 12px 19px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  box-sizing: border-box;
}

.header__log-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 104px 13px 0;
  width: 112px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 100px;
  padding: 12px 19px 12px 19px;
  color: #000;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  box-sizing: border-box;
}

.header__logout-switch {
  background: transparent;
  background-image: url('../../images/Union\ \(2\).svg');
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.header__user {
  margin: 0;
}

.header__nav-logout {
  background: transparent;
  background-image: url('../../images/Union\ \(1\).svg');
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
